body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db); */
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(0, #CCFFFF,#FFCCCC);
  height: 100%;
}